/* Стили для хедера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to bottom, #2785B7, #165B84);
    padding: 25px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px; /* Держим текст прижатым к эмблеме */
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.emblem {
    width: 120px;
    height: auto;
}

.map {
    position: absolute;
    right: 20px;
    width: 150px;
    height: auto;
}

/* Стили для поля поиска и кнопки */
form.input-fines {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

form.input-fines input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #2785B7;
    outline: none;
}

form.input-fines button {
    padding: 10px 20px;
    background-color: #2785B7;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form.input-fines button:hover {
    background-color: #165B84;
}

/* Стили для карточек */
.table-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;

}

.card {
    width: 250px;
    border: 1px solid #2785B7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    padding: 10px; /* Добавляем отступ вокруг изображения */
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    padding: 15px;
}

.card-title {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.card-body div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body h5 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.more {
    text-decoration: none;
    background-color: #2785B7;
    color: white;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.more:hover {
    background-color: #1a5d85;
}


/* Стили для кнопки и цены */
.card-body div h5 {
    margin: 0;
}

.card-body a {
    font-size: 14px;
    font-weight: bold;
}

/* Стили для кнопки "Добавить в постановление" */
form .add-to-order {
    text-decoration: none;
    border: 2px solid #2785B7; /* Синий ободок */
    background-color: transparent; /* Прозрачный фон */
    color: #2785B7; /* Синий текст */
    padding: 8px 15px;
    margin-top: 10px; /* Отступ сверху */
    display: block; /* Кнопка занимает всю ширину */
    width: 100%; /* Занимает 100% ширины карточки */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box; /* Учитываем padding и границу в ширине */
    cursor: pointer; /* Добавляем курсор как у ссылки */
    background: none; /* Убираем стандартный фон кнопки */
    border-radius: 0; /* Убираем стандартные скругления кнопки, если они есть */
}

form .add-to-order:hover {
    background-color: #2785B7; /* Синий фон при наведении */
    color: white; /* Белый текст при наведении */
}


/* Стили для контейнера карточки */
.detailed-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2785B7;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px; /* Ограничиваем максимальную ширину */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailed-card-image img {
    width: 300px; /* Ширина изображения */
    height: auto;
    margin-right: 20px; /* Отступ справа от изображения */
    border-radius: 5px;
}

.detailed-card-content {
    max-width: 600px; /* Ограничиваем ширину контента */
}

.detailed-card-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.detailed-card-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.detailed-card-content p strong {
    font-size: 18px;
    color: #000;
}
/* карточки на странице order */
.overview-table-row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центровка карточек по горизонтали */
    gap: 15px;
    margin-top: 30px;
}

.overview-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2785B7;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 95%; /* Увеличиваем ширину карточки */
    max-width: 1000px; /* Максимальная ширина карточки */
}

.overview-card-image {
    flex-shrink: 0;
    margin-right: 10px; /* Уменьшаем отступ справа от изображения */
}

.overview-card-image img {
    border-radius: 5px;
    width: 100px; /* Размер изображения */
    height: 100px;
}

.overview-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.overview-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px; /* Уменьшаем отступ под заголовком */
}

.overview-card-link {
    background-color: #2785B7;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    width: max-content;
    transition: background-color 0.3s ease;
}

.overview-card-link:hover {
    background-color: #1a5d85;
}

.overview-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.overview-card-info p {
    margin: 0;
    font-size: 1rem;
}

.overview-card-info h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* корзина */
.cart-icon {
    position: fixed;
    bottom: 30px; /* Отступ от нижнего края экрана */
    left: 20px;   /* Отступ от левого края экрана */
    width: 50px;  /* Размер значка корзины */
    height: 50px;
    z-index: 1000; /* Устанавливает высокий приоритет отображения */
}

.cart-icon img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* ввод даты и номера машины и даты правонарушения */
form.input {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

form.input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #2785B7;
    outline: none;
}

/* кружок с количеством на корзине */
.cart-icon .badge {
    position: absolute;
    top: -13px; /* Настройте отступ сверху */
    right: -13px; /* Настройте отступ справа */
    background-color: #2785B7; /* Цвет кружка */
    color: white; /* Цвет текста */
    border-radius: 50%;
    padding: 7px 7px; /* Размеры кружка */
    font-size: 12px; /* Размер текста */
    font-weight: bold; /* Толщина шрифта */
}

/* Стили для кнопки Удалить */
form .delete-btn {
    text-decoration: none;
    border: 2px solid #2785B7; /* Синий ободок */
    background-color: transparent; /* Прозрачный фон */
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%; /* Скругляем кнопку до круглой формы */
    margin: 0 auto; /* Центрирование кнопки по горизонтали */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 40px; /* Отступ снизу */
}

form .delete-btn:hover {
    background-color: #2785B7; /* Синий фон при наведении */
    color: white;
}

form .delete-btn img {
    width: 24px;
    height: 24px;
}
