<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header>
    <div class="header-container">
        <a href="http://localhost:8000/"> <img class="emblem" src="https://static.overlay-tech.com/assets/dd2ad8e5-ef75-4300-baa7-e5030a76e79c.png" alt="Эмблема"></a>
        <div class="title-container">
            <h1>ГОСАВТОИНСПЕКЦИЯ</h1>
        </div>
        <img class="map" src="https://static.overlay-tech.com/assets/a3d45847-30bf-45d6-a6be-f42cf7f962a6.png" alt="Карта">
    </div>
</header>


<div>
    <form class="input" action="/search" method="get">
        <input name="searchFines" type="text" value="" placeholder="Номер транспортного средства..." aria-label="Example text with button addon" aria-describedby="button-addon1">
    </form>
</div>

<div>
    <form class="input" action="/search" method="get">
        <input name="searchFines" type="text" value="" placeholder="Дата и время правонарушения..." aria-label="Example text with button addon" aria-describedby="button-addon1">
    </form>
</div>

<div class="overview-table-row" id="{{ .resID }}">
    {{ range .fine}}
    <div class="overview-card-container" id="{{ .Fine_ID }}">
        <div class="overview-card-image">
            <img src="{{ .Imge }}" class="overview-card-imge" alt="...">
        </div>
        <div class="overview-card-content">
            <h5 class="overview-card-title">{{ .Title }}</h5>
            <a href="http://localhost:8000/more/{{ .Fine_ID }}" class="overview-card-link">Подробнее</a>
        </div>
        <div class="overview-card-info">
            <p>{{ .DopInf }} {{ .Count }}</p>
            <h5>{{ .Price }} ₽</h5>
        </div>
    </div>
    {{ end }}

    <form action="/delete/{{ .resID }}" method="POST" class="delete-form">
        <button type="submit" class="delete-btn">
            <img src="https://www.svgrepo.com/show/488897/delete-2.svg" alt="Удалить" class="delete-icon">
        </button>
    </form>
</div>



</body>
</html>